/* Default Light Mode for body*/
body {
    text-align: center; 
    background-color: white;
    color: black;
    transition: background-color 0.5s, color 0.10s;
}

/* Default Dark Mode for body*/
body.dark-mode {
    text-align: center; 
    background-color: black;
    color: white;
    transition: background-color 0.5s, color 0.10s;
}

/* Button Style */
button {
    padding: 10px;
    cursor: pointer;
}

.slot-container {
    border: 2px solid rgb(0, 0, 0); 
    margin-left: 0;
    float: left;
}

.slot { 
    font-size: 2em; 
    margin: 10px; 
    display: inline-block; 
    width: 50px; 
    height: 50px; 
    border: 2px solid black; 
    text-align: center; 
    line-height: 50px; 
}

body.dark-mode .slot-container {
    border: 2px solid rgb(255, 255, 255); 
    margin-left: 0;
    float: left;
}

body.dark-mode .slot  { 
    font-size: 2em; 
    margin: 10px; 
    display: inline-block; 
    width: 50px; 
    height: 50px; 
    border: 2px solid rgb(255, 255, 255); 
    text-align: center; 
    line-height: 50px; 
}
    

/* Indicators */
/* Styling the indicator boxes */
/* Styling for the reach mode indicator container */
.reach-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;  
}

.indicator {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.gold {
    background-color: gold;
}

.rainbow {
    background: linear-gradient(to right, red, orange, yellow, green, blue, purple);
    color: transparent; /* Ensures the text is hidden */
     border: 2px solid white; /*Optional: to make the rainbow more visible */
}
